<div>
  <ul class='list'>
    <li class='list__item' ng-repeat='(key, item) in list'>
      <div>Domain : {{item.domain}}</div>
      <div>Path : {{item.path}}</div>
      <div>
        <md-switch aria-label="active" md-invert ng-model="item.active" ng-change='toggleVhost(item.domain)'>
          Active
        </md-switch>
      </div>
      <div>Size : {{item.size}}</div>
      <div>Lastname : {{item.user.lastname}}</div>
      <div>Firstname : {{item.user.firstname}}</div>
      <md-input-container>
         <label>Username</label>
         <md-select ng-model="item.user.username"  ng-change='updateVhostUser(item.user.username, item.domain)'>
           <md-option><em>None</em></md-option>
           <md-option ng-repeat="user in users" ng-value="user.username">
             {{user.username}}
           </md-option>
         </md-select>
       </md-input-container>
       <md-button class="md-fab md-mini" ng-disabled="false" aria-label="Comment" ng-click="deleteVhost(item.domain)">
           <md-icon class="material-icons">delete</md-icon>
       </md-button>
       <md-button class="md-raised" ng-href="/#/details/{{item.domain}}">Details</md-button>
       <md-button class="md-raised" ng-if="!item.https" ng-click="addHttps(item.domain)">Enable HTTPS</md-button>
    </li>
  </ul>
</div>
<nav mfb-menu position="br" effect="zoomin"
     active-icon="material-icons icon__close"
     resting-icon="material-icons icon__add"
     toggling-method="hover">
  <button
    mfb-button
    icon="material-icons icon__www"
    ng-click="showDomainForm()"
    label="Create domain">
  </button>
  <button
    mfb-button
    icon="material-icons icon__personadd"
    ng-click="showUserForm()"
    label="Create user">
  </button>
  <button
    mfb-button
    icon="material-icons icon__list"
    ng-click="showTodoList()"
    label="Todo list">
  </button>
</nav>
