<div ng-controller='listController'>
  <ul class='list'>
    <li class='list__item' ng-repeat='(key, item) in list'>
      <p>Domain : {{item.domain}}</p>
      <p>Path : {{item.path}}</p>
      <p>Active : {{item.active}}</p>
      <p>Size : {{item.size}}</p>
      <p>Lastname : {{item.user.lastname}}</p>
      <p>Firstname : {{item.user.firstname}}</p>
      <select
        ng-model='vhostUser'
        ng-options='x.username for x in users'
        ng-change='updateVhostUser(vhostUser.username, item.domain)'
      >
      </select>
      <button ng-click='toggleVhost(item.domain)'>Enable/Disable</button>
      <button ng-click='deleteVhost(item.domain)'>Delete</button>
    </li>
  </ul>
</div>
<div ng-controller='createUserController'>
  <form>
    <label>Lastname: <input type="text" ng-model="user.lastname" /></label><br />
    <label>Firstname: <input type="text" ng-model="user.firstname" /></label><br />
    <label>Username: <input type="text" ng-model="user.username" /></label><br />
    <input type="submit" ng-click="createUser(user)" value="Save" />
  </form>
</div>
