<div ng-controller='createUserController' class="md-dialog-container" id="createUserDialog">
  <md-dialog class="dialog">
    <h4>Create a new user</h4>
    <form class="form">
      <div>
        <md-input-container flex-gt-sm>
          <label>Lastname</label>
          <input ng-model="user.lastname">
        </md-input-container>
        <md-input-container flex-gt-sm>
          <label>Firstname</label>
          <input ng-model="user.firstname">
        </md-input-container>
        <md-input-container>
           <label>Username</label>
           <md-select ng-model="sshUser">
             <md-option><em>None</em></md-option>
             <md-option ng-repeat="user in sshUsers" ng-value="user">
               {{user}}
             </md-option>
           </md-select>
         </md-input-container>
      </div>
      <md-button type="submit" ng-click="createUser(user, sshUser)">Submit</md-button>
    </form>
  </md-dialog>
</div>
