@import "config";
@import "reset";
@import "../../../node_modules/angular-material/angular-material.css";
@import "../../../node_modules/ng-material-floating-button/mfb/dist/mfb.css";

/* stylelint-disable */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto Mono", monospace;
}
